@font-face {
  font-family: YujiHentaiganaAkari;
  src: url("/src/assets/fonts/YujiHentaiganaAkari-Regular.ttf");
}

p{
  color: gray;
  font-size: 25px;
  font-family: YujiHentaiganaAkari, sans-serif;
}

button {
  width: 50px;
  height: 50px;
  color: red;
}